.Top {
    text-align: center;
    padding-bottom: 20px;

    .searchForm{
        background-color: burlywood;
        padding: 20px;

        button {
            display: inline-block;
            padding: 0 5px;
            text-decoration: none;
            border: solid 2px #67c5ff;
            border-radius: 3px;
            transition: .25s all ease;
            background: #67c5ff;
            color: white;
            outline: none;
            font-size: 16px;
        }


        button:hover {
            color: #67c5ff;
            background: white;
        }

        .titleBox {
            margin-top: 10px;

            #title {
                background: #ffffff;
                height: 27px;
                padding: 0 10px;
                border: 1px solid #67c5ff;
                box-sizing: border-box;
                border-radius: 3px;
                margin: 0;
                outline: none;
            }

            button {
                margin-left: 5px;
            }
        }

        .resetButton {
            margin-left: 10px;
        }
    }

    .addButtonWrapper {
        text-align: right;
        padding: 10px 20px;
    }

    .movieCards {
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 10px;

        .movieCard {
            margin: 10px;
            width: 200px;
            min-height: 240px;
            padding: 10px;
            border: 2px solid burlywood;
            border-radius: 3px;
            box-sizing: border-box;

            & > * {
                margin-top: 10px;

            }

            .movieLinkButton {
                display: inline-block;
                padding: 0.3em 1em;
                text-decoration: none;
                border: solid 2px #51BD65;
                border-radius: 3px;
                transition: .25s all ease;
                background: #51BD65;
                color: white;
            }
    
            .movieLinkButton:hover {
                color: #51BD65;
                background: white;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;

                .tag {
                    display: inline-block;
                    padding: 5px;
                    margin-right: 5px;
                    margin-top: 5px;
                    border: solid 2px #B8B8B8;
                    border-radius: 3px;
                    transition: .25s all ease;
                    background: #B8B8B8;
                    color: white;
                }
            }
        }
    }

    .pagerList {
        display: flex;
        justify-content: center;

        .pager {
            display: inline-block;
            padding: 0 7px;
            margin-right: 5px;
            border-radius: 3px;
            background: #B8B8B8;
            color: white;
            cursor: pointer;
            width: 40px;
            height: 40px;
            line-height: 40px;
            box-sizing: border-box;

        }
        .currentPage {
            background: #67c5ff;
        }
        .pagerDisabled {
            background-color: #D9D9D9;
        }
    }
    .page-top{
        width: 50px;
        height: 50px;
        position: fixed;
        right: 20px;
        bottom: 40px;
        background: burlywood;
        opacity: 0.6;
        border-radius: 50%;

        a {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@include sp {
    .Top {
        .searchForm {
            .tagsBox {
                label {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }

            .tagButton, .resetButton {
                height: 50px;
                width: 80%;
                font-size: 20px;
            }

            .resetButton {
                display: block;
                margin: 10px auto 0;
            }
        }

        .addButtonWrapper {
            display: none;
        }
    }
}